mixin home()
    - var prev = page.prev_link;
    - var next = page.next_link;
    .paginator
        if page.next
            a.next(href=url_for(next))
                i.fas.fa-arrow-left.fa-3x
        if page.prev
            a.prev(href=url_for(prev))
                i.fas.fa-arrow-right.fa-3x
        
mixin post()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .paginator        
        if next
            a.next(href=url_for(next))
                i.fas.fa-arrow-left.fa-3x
        if prev
            a.prev(href=url_for(prev))
                i.fas.fa-arrow-right.fa-3x