mixin projects()
  .portfolio
    - site.posts.data.forEach((item) => {
      - let isProject = item.type == 'project'
        if isProject
          a.project(href=url_for(item.path))
            img.img-project(src=url_for(item.image), alt='Project')
            .info-project
              h3.title-project #{ item.title }
              p.description-project #{ item.description }
    - })

//- Index
mixin indexProjects()
  .portfolio
    - let countPrj = 4;
    - site.posts.data.forEach((item) => {
      - countPrj--;
      -let isComplete = countPrj < 0;
      if isComplete
        - return false;
      - let isProject = item.type == 'project'
        if isProject
          a.project(href=url_for(item.path))
            img.img-project(src=url_for(item.image), alt='Project')
            .info-project
              h3.title-project #{ item.title }
              p.description-project #{ item.description }
    - })
