mixin postInfo(item)
  .post-info
      a
      != full_date(item.date, config.date_format)
      if item.from && (is_home() || is_post())
          a.post-from(href=item.from, target='_blank', title=item.from)
              != __('translate_original')

mixin postTitle(title)
  if title
      != title
  else
      != __('untitled')

mixin postDescription(description)
  if description
      != description
  else
      != __('')


//- Archive Page
mixin postList()
  .archive.text
      - let year = 0;
      - let change = false;
      - page.posts.each((item) => {
      - let isPost = item.type == 'post'
      if isPost
          - let itemYear = date(item.date, 'YYYY') - 0;
          - change = year !== itemYear;
          - year = change ? itemYear : year;
          if change
              h2.archive-year
                  != year
          .post-item
              a.post-title-link(href=url_for(item.path))
                  +postTitle(item.title)    
              +postInfo(item)
              p.post-description
                  +postDescription(item.description)
      - })

//- Index
mixin indexPost()
  - let count = 3;
  - page.posts.each((item) => {
    - count--;
    -let isComplete = count < 0;
    if isComplete
      - return false;
    - let isPost = item.type == 'post'
    if isPost  
        .post-item
            a.post-title-link(href=url_for(item.path))
                +postTitle(item.title)    
            +postInfo(item)
            p.post-description
                +postDescription(item.description)
  - })

  //- Post Page
mixin post(item)
  .post
      article.post-info-content.info-card
          h1.post-title
              +postTitle(item.title)
          hr
          +postInfo(item)
          .post-content
              != item.content
