.contact-icons
    a.circle-icons(href=url_for(theme.socials.github))
        i.fab.fa-github
    a.circle-icons(href=url_for(theme.socials.gitlab))
        i.fab.fa-gitlab
    a.circle-icons(href=url_for(theme.socials.linkedin))
        i.fab.fa-linkedin
    a.circle-icons(href=url_for(theme.socials.twitter))
        i.fab.fa-twitter
    a#mailBtn.circle-icons.fas.fa-envelope
    a.circle-icons(href=url_for(theme.menu.RSS))
        i.fas.fa-rss
        
#emailModal.modal
  .modal-content
    span.close &times;
    .send-email
       h2 Contactame
       form.form-mail(action='javascript:sendMail();' method='post' enctype='text/plain')
         label#from(for='fromMail') Escribe tu correo:
         input#fromMail(type="email" name="fromMail" required='')
         label#subject(for='subjectMail') Asunto:
         input#subjectMail(type="text" name="subjectMail" required='')
         label#message(for='messageMail') Mensaje:
         textarea#messageMail(type="text" name="messageMail" required='')
         input#btnEmail(type="submit" value="Enviar")
script(src=url_for('js/email-modal.js') type='text/javascript')
