.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p
    include contact-icons.pug
    br
    | Copyright &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]
    br
    | Developed with #[a(href='https://hexo.io/', target='_blank') Hexo] 
