img.img-main(src=url_for(theme.main), alt='Main')
.info-main
  h1.pg-title Daissi Gonzalez
  p.pg-description
  |  Bienvenido,
  |  En este sitio web podras conocer mi trabajo, asi como mis proximos proyectos.
