meta(charset='utf-8')
meta(name='X-UA-Compatible', content='IE=edge')

title
    block site_title
        = config.title

block description
    meta(name='description', content=config.description ? config.description : __('meta_description'))

meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet' href=url_for('css/font-awesome/fontawesome.css'))
link(rel='icon', href=url_for(theme.favicon))

link(rel='stylesheet', href=url_for('css/styles.css'))
link(rel='search', type='application/opensearchdescription+xml', href=url_for('atom.xml'), title=config.title)
link(rel='stylesheet' type='text/css' href=url_for('css/loading-bar/loading-bar.css'))
