doctype
html(lang=config.language)
    head
        include head.pug
    body
        header
            include nav.pug
            include head-information.pug
        .wrap
            main.container              
              block container
              include side-panel.pug
              block pagination
            include options-nav.pug
        footer
            .footer-content
                block copyright
        script(type='text/javascript' src=url_for('/js/loading-bar.js'))
        script(src=url_for('js/script.js') type='text/javascript')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async='')
