script(src=url_for('js/responsive-menu.js') type='text/javascript')
#navbar.nav-transparent.nav
  a.fa.fa-bars.item-resposive(href='javascript:void(0);' onclick='useMenuResponsive()')
  a(href=url_for('/'))
    strong.nav-title DbgRoldan
  ul.nav-list
      each value, key in theme.menu
          li.nav-list-item
              if !value.length
                  a.nav-list-link #{ key }
                  ul.subnav-list                    
                      each subvalor, subkey in value
                          li.subnav-list-item
                              a.nav-list-link(href=url_for(subvalor)) #{ subkey }                        
              else
                  a.nav-list-link(href=url_for(value)) #{ key }
  
