.options-nav
    ul.options-nav-list
        li.options-nav-list-item.suoptions-item
            a.options-nav-list-item-link
                i.fas.fa-cog.fa-spin
                ul.suboptions-nav
                    li.suboptions-nav-list-item
                        a.suboptions-nav-list-link Es
                    li.suboptions-nav-list-item
                      del
                        a.suboptions-nav-list-link En
                    li.suboptions-nav-list-item
                      del
                        a.suboptions-nav-list-link Fr
        li.options-nav-list-item
            a#change.fas.fa-moon.options-nav-list-item-link
            //- a.fas.fa-moon.options-nav-list-item-link.change-mode(href='javascript:void(0);' onclick='setChangeMode()')
script(src=url_for('js/color-script.js') type='text/javascript')
