extends partial/layout.pug

block container
  .cv-info
    h3.text.cite-profile "You deserve happiness, just work it".
    .information-profile
      img.img-profile(src=url_for(theme.photo), alt='photo')
      .text.information-profile-description
        p Me gusta aprender sobre arquitectura de software, así como del uso de la misma de los diferentes lenguajes de programación; esencialmente para fundamentar conocimiento respecto diferentes herramientas que puedan usarse en diferentes instancias tecnológicas, particularmente las relacionadas a tecnologías emergentes como el diseño y desarrollo web, la Inteligencia Artificial, y Deep Learning; teniendo como elemento fundamental la accesibilidad de las mismas para la gente en general.
        p
        b Bibiana Gonzalez
        i Software developer
    .skills-profile
      h3.text.subtitle-profile Habilidades
      .all-skills
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='57' data-type='fill' data-img=url_for(theme.skills.javascript) style = "width: 10vw;")
          p.text.item-profile JavaScript
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='70' data-type='fill' data-img=url_for(theme.skills.python) style = "width: 10vw;")
          p.text.item-profile Python
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='45' data-type='fill' data-img=url_for(theme.skills.typescript) style = "width: 10vw;")
          p.text.item-profile TypeScript
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='55' data-type='fill' data-img=url_for(theme.skills.rails) style = "width: 10vw;")
          p.text.item-profile Ruby On Rails
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='70' data-type='fill' data-img=url_for(theme.skills.nodejs) style = "width: 10vw;")
          p.text.item-profile NodeJS
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='70' data-type='fill' data-img=url_for(theme.skills.flask) style = "width: 10vw;")
          p.text.item-profile Flask
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='65' data-type='fill' data-img=url_for(theme.skills.django) style = "width: 10vw;")
          p.text.item-profile Django
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='75' data-type='fill' data-img=url_for(theme.skills.postgresql) style = "width: 10vw;")
          p.text.item-profile
            b SQL
            | PostgreSQL, SQLite
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='60' data-type='fill' data-img=url_for(theme.skills.mongodb) style ="width: 10vw;")
          p.text.item-profile
            b No SQL
            | MongoDB
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='47' data-type='fill' data-img=url_for(theme.skills.docker) style ="width: 10vw;")
          p.text.item-profile Docker
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='90' data-type='fill' data-img=url_for(theme.skills.css3) style ="width: 10vw;")
          p.text.item-profile CSS
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='75' data-type='fill' data-img=url_for(theme.skills.sass) style = "width: 10vw;")
          p.text.item-profile SASS
        .skill-profile-post
          .skill
            .ldBar.auto.label-center(data-value='95' data-type='fill' data-img=url_for(theme.skills.html) style = "width: 10vw;")
          p.text.item-profile HTML

block copyright
    include partial/copyright.pug
