extends partial/layout.pug

block container
  .content.text
    h3 Ultimos Post
    .lastPosts      
        include mixins/post.pug
        +indexPost()
    h3 Projectos
    .lastProjects
        include mixins/portfolio.pug
        +indexProjects()
  

block pagination
    include mixins/paginator.pug
    +home()

block copyright
    include partial/copyright.pug
