extends partial/layout.pug

block container
  .portfolio-content
    h1.text Proyectos
    include mixins/portfolio.pug
    +projects()

block pagination
    include mixins/paginator.pug
    +home()

block copyright
    include partial/copyright.pug
