@charset "utf-8";
@import "_partial/header";
@import "_partial/nav";
@import "_partial/email-modal";
@import "_partial/options-nav";
@import "_partial/side-panel";
@import "_partial/head-information";
@import "_partial/content-page";
@import "_partial/portfolio";
@import "_partial/post";
@import "_partial/footer";
@import "_partial/paginator-comments";
@import "_partial/about";

//
//  Page's Colors
html {
  --back-color: unset;
  --font-color-page: black;
  --nav-font-color: snow;
  --nav-font-down-color: snow;
  --nav-background-color: rgba(0, 0, 0, .6);
  --nav-border-color: #303232;
  --nav-item-back-hover-color: #2993a2;

  --set-nav-background-color: #303232;
  --set-nav-font-color: snow;
  --set-nav-item-back-hover-color: gray;
  --set-subnav-font-color: snow;
  --set-subnav-list-color: #2993a2;
  --set-subnav-list-hover-color: #293032;
  --info-card-shadow-color: rgba(7,17,27,.06);

  --main-info-color: rgba(0, 0, 0, .82);
  --main-info-font-color: #fefeff;

  --circle-icons-font-color: #303232;
  --post-background-color: white;
  --post-card-shadow-color: rgba(7,17,27,.06);

  --highlight-background-color: #292d3e;
  --highlight-font-color: #a6accd;
  --highlight-icon-color: #a6accd;
  --highlight-font-style: "Menlo", "Meslo LG", monospace;

  --skill-background-color: whitesmoke;
  --paginator-color: #303232;

  --project-background-color: rgba(0, 0, 0, .7);
  --project-font-color: snow;

  --email-background-color: white;
  --btn-email-background-color: #3d7f99;
  --btn-email-border-color:  #256095;

  --footer-background-color: transparent;
  --footer-font-color: unset;
  --footer-border-color: #303232;
  --footer-font-color-link: unset;
}

html[data-theme="dark"] {
  --back-color: #242424;
  --font-color-page: snow;
  --nav-font-color: snow;
  --nav-font-down-color: snow;
  --nav-background-color: rgba(0, 0, 0, .6);
  --nav-border-color: #303232;

  --set-nav-background-color: #303232;
  --set-nav-font-color: snow;
  --set-nav-item-back-hover-color: gray;
  --set-subnav-font-color: snow;
  --set-subnav-list-color: #2993a2;
  --set-subnav-list-hover-color: #293032;
  --info-card-shadow-color: rgba(7,17,27,.06);

  --main-info-color: rgba(0, 0, 0, .5);
  --main-info-font-color: #fefeff;

  --circle-icons-font-color: snow;
  --post-background-color: #2a2a2b;
  --post-card-shadow-color: rgba(7,17,27,.06);

  --highlight-background-color: #292d3e;
  --highlight-font-color: #a6accd;
  --highlight-icon-color: #a6accd;
  --highlight-font-style: "Menlo", "Meslo LG", monospace;

  --skill-background-color: #323235;
  --paginator-color: #bdbfbf;

  --email-background-color: #2a2a2b;
  --email-font-color: snow;
  --btn-email-background-color: #3d6599;
  --btn-email-border-color:  #173f62;

  --footer-background-color: transparent;
  --footer-font-color: snow;
  --footer-border-color: snow;
  --footer-font-color-link: unset;
}

body {
    background-color: var(--back-color);
    margin: unset;
    font-family: 'FontAwesome';
    overflow-x: hidden;
    overflow-y: auto;
}
.text {
  color: var(--font-color-page);
}
