.cv-info {
    display: grid;
    grid-template-rows: auto auto auto auto;

    .cite-profile {
        display: flex;
        justify-content: center;
    }

    .information-profile {
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
        margin: 20px;

        .img-profile {
            width: 15em;
            border-radius: 10px;
            position: relative;
            border: 3px solid #021a40;
        }

        .information-profile-description {
            grid-column: 2 / -1;
            display: grid;
            place-content: center;
            padding: 20px;
        }
    }


    @media screen and (max-width: 600px){
      .information-profile {
        grid-template-rows: auto auto;
        .information-profile-description {
          grid-row: 2 / -1;
          grid-column: 1 / 2;
        }
      }
    }

    .skills-profile {
        padding: 0px 20px;
        .all-skills {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            gap: 20px;

            .skill-profile-post {
                display: grid;
                grid-template-rows: auto auto;
                background-color: var(--skill-background-color);
                border-radius: 20px;
                padding: 15px;
                .skill {
                    display: grid;
                    place-content: center;
                    height: 10em;
                }
                .item-profile {
                    display: grid;
                    place-content: center;
                }
            }
        }
    }
}
