.wrap {
    display: grid;
}
.container {
    width: 90vw;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 18vw;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 10px;
    .lastPosts {
      height: 60vh;
      overflow-y: scroll;
      border-radius: 10px;
    }

}

@media screen and (max-width: 1200px){
  .container {
    .side-panel {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}
