.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--email-background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
    color: var(--email-font-color);

    .send-email {
        .form-mail {
            display: grid;
            grid-template-columns: 9vw auto;
            grid-template-rows: auto auto auto auto auto;
            grid-row-gap: 20px;

            #from,
            #subject{
                place-self: center;
            }

            #subjectMail.dark,
            #fromMail.dark {
                background-color: #323233;
                border-block-style: hidden;
                border-left-style: hidden;
                border-right-style: hidden;
                color: var(--email-font-color);
            }

            #subjectMail.light,
            #fromMail.light {
                color: var(--email-font-color);
            }

            #message {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
            }

            #messageMail.dark {
                grid-column: 1 / -1;
                grid-row: 4 / 5;
                height: 20vh;
                resize: none;

                background-color: #323233;
                border-block-style: hidden;
                border-left-style: hidden;
                border-right-style: hidden;
                color: var(--email-font-color);
            }

            #messageMail.light {
                grid-column: 1 / -1;
                grid-row: 4 / 5;
                height: 20vh;
                resize: none;
                color: var(--email-font-color);
            }

            #btnEmail {
                grid-column: 1/ -1;
                grid-row: 5 / 6;
                height: 8vh;

                background-color: var(--btn-email-background-color);
                color: var(--email-font-color);
                border-block-color: var(--btn-email-border-color);
                border-left-color: var(--btn-email-border-color);
                border-right-color: var(--btn-email-border-color);
            }
        }
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
