footer{
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
    display: grid;
    padding: 20px;
    border-top: 1px solid var(--footer-border-color);
    font-size: 11px;
}
.footer-content {
    place-self: center;
    text-align: center;
    a {
        text-decoration: none;
        color: var(--footer-font-color-link);
    }
}
