.img-main {
  width: 100vw;
  height: 100%;
  border-bottom: 1px solid var(--nav-border-color);
  object-fit: cover;
}
.info-main {
  background-color: var(--main-info-color);
  position: absolute;
  color: var(--main-info-font-color);
  width: 25vw;
  margin-left: 50%;
  margin-top: 10%;
  padding: 25px;
  border-radius: 10px;
}

@media screen and (max-width: 500px){
  .info-main {
    margin-left: unset;
    margin-top: unset;
    place-self: center;
  }
}
