.nav-colored {
  background-color: var(--nav-background-color);
}

.nav-transparent {
  background-color: transparent;
}


.nav {
    width: 100vw;
    position: fixed;
    z-index: 2;

    .nav-title {
      float: left;
      padding: .7em 8vw;
      color: var(--nav-font-color);
    }

    .item-resposive {
        display: none;
        padding: 10px ;
        text-decoration: none;
        color: var(--nav-font-color);
        position: fixed;
        margin-left: 91vw;
    }
    .item-resposive:hover {
        background-color: var(--nav-item-back-hover-color);
    }

    .nav-list {
        float: right;
        margin: unset;
        list-style: none;
        padding-right: 8vw;
        .nav-list-item {
            display: inline-block;
            padding: 10px ;
            a.nav-list-link {
                text-decoration: none;
                color: var(--nav-font-color);
            }
            .subnav-list {
                list-style: none;
                display: none;
                position: absolute;
                padding: 10px;
                .subnav-list-item {
                    background-color: var(--subnav-list-color);
                    padding: 7px;
                }
                .subnav-list-item:hover {
                    background-color: var(--subnav-list-hover-color);
                }
            }
        }
        .nav-list-item:hover {
            background-color: var(--nav-item-back-hover-color);
        }
        .nav-list-item:hover > .subnav-list {
            display: block;
        }
    }
}

@media screen and (max-width: 500px){
    body {
      background-color: red;
        header {
            .nav {
                .item-resposive {
                    display: block;
                }
                .nav-list {
                    display: none;
                }
                @media screen and (max-width: 390px){
                    .item-resposive {
                        margin-left: 86vw;
                    }
                }
            }
        }
    }
}

// Responsive
.responsive {
    background-color: var(--set-nav-background-color);
    z-index: 2;
    width: 100vw;
    position: fixed;
    z-index: 2;


    .nav-title {
      color: var(--nav-font-color);
    }

    .item-resposive {
        text-decoration: none;
        color: var(--nav-font-color);
        padding: 10px;
        position: fixed;
        margin-left: 90vw;
    }
    .item-resposive:hover {
        background-color: var(--nav-item-back-hover-color);
    }
    .nav-list{
        list-style: none;
        margin: unset;
        padding :unset;
        .nav-list-item {
            padding: 7px;
            a.nav-list-link {
                text-decoration: none;
                color: var(--nav-font-color);
            }
            .subnav-list {
                list-style: none;
                display: none;
                position: absolute;
                padding: unset;
                .subnav-list-item {
                    background-color: var(--subnav-list-color);
                    padding: 5px;
                }
                .subnav-list-item:hover {
                    background-color: var(--subnav-list-hover-color);
                }
            }
        }
        .nav-list-item:hover {
            background-color: var(--nav-item-back-hover-color);
        }
        .nav-list-item:hover > .subnav-list {
            display: contents
        }
    }
}
