.options-nav {
    position: fixed;
    background-color: var(--set-nav-background-color);
    z-index: 2;
    color: var(--set-nav-font-color);
    margin-left: 97vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px 6px var(--info-card-shadow-color);
}
.options-nav-list {
    padding: 5px;
    margin:5px;
    list-style: none;
    .options-nav-list-item-link {
        text-decoration: none;
        color: var(--set-subnav-font-color);
    }
}
.options-nav-list-item:hover {
    background-color: var(--set-nav-item-back-hover-color);
    // text-shadow: 2px 5px 5px yellowgreen;
}
.suboptions-nav {
    list-style: none;
    display: none;
    position: absolute;
    padding: 10px;
    margin-left: -22px;
    margin-top: -130px;
}
.suoptions-item:hover > .suboptions-nav {
    display: block;
}
.suboptions-nav-list-item {
    background-color: var(--set-subnav-list-color);
    padding: 7px;
}
.suboptions-nav-list-item:hover {
    background-color: var(--set-subnav-list-hover-color);
}

@media screen and (max-width: 1048px){
    body{
        .wrap {
            .options-nav {
                margin-left: 96vw;
            }
        }
    }
    @media screen and (max-width: 788px){
        body{
            .wrap {
                .options-nav {
                    margin-left: 95vw;
                }
                @media screen and (max-width: 600px){
                    .options-nav {
                        margin-left: 93vw;
                    }
                }
                @media screen and (max-width: 410px){
                    .options-nav {
                        margin-left: 91vw;
                    }
                }
            }
        }
    }
}
