.next,
.prev{
    text-decoration: none;
    font-family: FontAwesome;
    color: var(--paginator-color);
    padding: 5px;
}

.paginator {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#disqus_thread {
    grid-column: 1 / -1;
}
