.portfolio-content {
  display: grid;
  grid-template-rows: 5em auto;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

  .project {
    position: relative;
    width: 19em;
    height: 13em;
    padding: 4px;

    .img-project {
      position: absolute;
      width: 19em;
      height: 13em;
      object-fit: cover;
    }
    .info-project {
      position: absolute;
      opacity: 0;
      background-color: var(--project-background-color);
      color: var(--project-font-color);
      margin: unset;
      padding: 10px;
      width: 17.7em;
      height: 11.8em;

        .description-project {
          font-size: small;
        }
      }
    }
    .project:hover > .info-project {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      transition: opacity 0.15s ease;
      opacity: 1;
    }
  }
