.post-item{
  // border: 1px solid #303232;
  background-color: var(--post-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px 6px var(--post-card-shadow-color);
  padding: 15px;
  margin: 25px;

  .post-title-link {
    text-decoration: none;
    color: var(--set-subnav-list-color);
  }

  .post-info {
    left: auto;
  }

  .post-description {
    font-size: small;
  }
}
