.side-panel{
  background-color: var(--skill-background-color);
  display: grid;
  justify-items: center;
  border-radius: 5px;
  align-self: start;

  .info-panel {
    font-size: small;
    justify-self: start;
    padding: 0px 20px;
  }

  .author {
    place-self: center;
    width: 80%;
    display: grid;
    place-items: center;

    .img-profile {
      width: 10em;
    }
  }
}

.contact-icons {
    font-family: 'FontAwesome';
    justify-self: center;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px;
    column-gap: 8px;
    padding: 7px;;
    align-self: center;
    .circle-icons{
        border: 1px solid var(--circle-icons-font-color);
        border-radius: 50%;
        background-color: transparent;
        place-self: center;
        padding: 5px;
        color: var(--circle-icons-font-color);
        cursor: pointer;
    }
}
